.ingredient-input {
  background-color: #f1ecb5;
  border-radius: 10px;
  float: left;
  padding: 20px;
  margin-top: 20px;
  width: 90%;
}

input {
  background-color: #d5c455;
  font-family: "Work Sans", sans-serif;
  width: 90%;
}

.ingredient-input button {
  background-color: #d5c455;
  border-radius: 50%;
  font-size: 1.5rem;
  margin-top: 30px;
  padding: 0.3rem;
  width: 2.3rem;
}

button,
input,
label {
  border: none;
  border-radius: 3px;
  outline: none;
  display: block;
  margin: 15px auto;
  padding: 5px;
}

@media (min-width: 650px) {
  .ingredient-input {
    width: 30%;
    float: none;
  }
}
